# Normalize line endings
* text=auto

*.py    text eol=lf
*.md    text eol=lf
*.json  text eol=lf
*.csv   text eol=lf
*.txt   text eol=lf

# Binary
*.msgpack binary
*.png     binary
*.jpg     binary
*.drawio  binary
